[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/pypi"
verify_ssl = true
name = "pypi-217"

[packages]
scikit-learn = "*"
pandas = "*"
numpy = "*"
keras = "*"
tensorflow = {extras = ["and-cuda"], version = "*"}
beautifulsoup4 = "*"
tqdm = "*"
click = "*"
pytest = "*"
pytest-asyncio = "*"
aiohttp-client-cache = {extras = ["all"], version = "*"}
tenacity = "*"
asyncer = "*"
ufc-predictor = {file = ".", editable = true}
anyio = "*"
pydantic = "*"
imblearn = "*"
xgboost = "*"
shap = "*"
matplotlib = "*"
ufcscraper = "*"
hyperopt = "*"

[dev-packages]

[requires]
python_version = "3.12"
